{% extends "VentesBundle::layout_ventes.html.twig" %}

{% block container_ventes %}
    <h3>Modification apporteur</h3>
    <div class="row">
        <div class="col-md-5">
            {{ form(edit_form) }}
        </div>
    </div>

{% endblock %}
