{% extends 'MembersBundle::layout_member.html.twig' %}

{% block container_member %}
     <div class="row">
        <div class="col-md-8 col-md-offset-2">
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
        </div>
{% endblock %}
