{% extends '::layout/layout_app.html.twig' %}

{% block container_app %}  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      
        <!-- Main content -->
        <section class="content" style="margin-bottom: 40px;">            
           
            {% block container_ventes %}                 

            {% endblock %} 
       
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock container_app %}



