{% extends 'GestionBundle::layout_gestion.html.twig' %}

{% block container_gestion %}
    <h1>Conge creation</h1>
 <div class="row">
      <div class="col-md-6">
    {{ form(form) }}
      </div>
	 </div> 
        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('conge', { 'idemp': entity.employe.id }) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
