{% extends 'GestionBundle::layout_gestion.html.twig' %}

{% block container_gestion %} 
    <h1>Modifier Etude</h1>
 <div class="row">
  <div class="col-md-5">
    {{ form(edit_form) }}
   </div>
</div>
       
        <a class="btn btn-success " href="{{ path('etude') }}">
              Retour
        </a>
    {{ form(delete_form) }}
{% endblock %}
