
<td>{{ form_widget(form_prod.refProd, {'attr': {'class': 'no-padding'} })  }}</td>

<td class="produit" >{{ form_widget(form_prod.libelle)  }}</td>

<td>{{ form_widget(form_prod.prixHT, {'attr': {'class': 'no-padding'} })  }}</td>

<td>{{ form_widget(form_prod.quantite)  }}</td>
