{% block footer %}
    <!-- footer content -->
    <footer style="
            bottom: 0px;
            left:  0px;
            right:  0px;
            clear: both;
            display: block;
            position: fixed;
            padding-left: 50px;
            z-index: 2000;">
        <div class="text-left">
            <p class=""> &nbsp;
                <img src="{{asset('geradio.png')}}" class="img-circle" />
            </p>
        </div>

    </footer>
    <!-- /footer content -->
{% endblock footer %}