{% extends 'GestionBundle::layout_gestion.html.twig' %}

{% block container_gestion %} 
    <h1>Service creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a  class="btn btn-primary" href="{{ path('service') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
